<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Slash</key>
	<dict>
		<key>Rank</key>
		<integer>1</integer>
		<key>Attribute</key>
		<string>Strength</string>
		<key>MultiTarget</key>
		<false/>
		<key>Effects</key>
		<dict/>
		<key>Range</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
	</dict>
	<key>Stab</key>
	<dict>
		<key>Rank</key>
		<integer>1</integer>
		<key>Attribute</key>
		<string>Strength</string>
		<key>MultiTarget</key>
		<false/>
		<key>Effects</key>
		<dict/>
		<key>Range</key>
		<array>
			<integer>0</integer>
			<integer>3</integer>
		</array>
	</dict>
	<key>Bludgeon</key>
	<dict>
		<key>Rank</key>
		<integer>1</integer>
		<key>Attribute</key>
		<string>Strength</string>
		<key>MultiTarget</key>
		<false/>
		<key>Effects</key>
		<dict>
			<key>Stun</key>
			<integer>1</integer>
		</dict>
		<key>Range</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
		</array>
	</dict>
	<key>TemplateCard</key>
	<dict>
		<key>Rank</key>
		<integer>1</integer>
		<key>Attribute</key>
		<string>Strength</string>
		<key>MultiTarget</key>
		<false/>
		<key>Effects</key>
		<dict/>
		<key>Range</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
</dict>
</plist>
